<link rel="stylesheet" href="/static/style.css">
<section class="vh-100">
  <div class="container py-5 h-100">

	  <div class="row d-flex justify-content-center align-items-center h-99">
		  <div class="col-md-8 col-lg-6 col-xl-4">

        <h3 class="mb-4 pb-2 fw-normal">Live Weather Dashboard</h3>

        <div class="input-group rounded mb-3">
          <form action="/city" method="POST">
          <input type="text" name="city" class="form-control rounded" placeholder="City" aria-label="Search"
            aria-describedby="search-addon" />
          <input type="submit" value="Check weather">
          </form>
          </a>
        </div>
        <div class="card shadow-0 border">
          <div class="card-body p-4">
          {% if error_message %}
        {{ error_message }}
        </div>
          {% else %}
                {% if city %}
            <h4 class="mb-1 sfw-normal">{{city}},{{country}}</h4>
                {% else %}
          <h4 class="mb-1 sfw-normal">{{city}} {{country}}</h4>
                {% endif %}
            <p class="mb-2">Current temperature: <strong>{{temp}}</strong></p>
            <p>Feels like: <strong>{{feel}}</strong></p>
            <p>Max: <strong>{{max}}</strong> Min: <strong>{{min}}</strong></p>

            <div class="d-flex flex-row align-items-center">
              <p class="mb-0 me-4">{{cloud}}</p>
              {% if city %}
              <img src="https://openweathermap.org/img/wn/{{icon}}@2x.png" alt="Weather icon" />
              {% endif %}
              <i class="fas fa-cloud fa-3x" style="color: #eee;"></i>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
{% endif %}
